*{
    margin: 0;
    padding: 0;
    font-family:'poppins',sans-serif;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: whitesmoke;
}
.header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)), url("./images/header-image.png");
    background-size: cover;
    height: 100vh;
    
    
    
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}
.logo{
    width: 150px;
    cursor: pointer;
    margin-left: 25px;
    margin-top: 10px;
}
.sign-in{
    margin-right: 20px;
}
nav button{
    border: 0;
    outline: 0;
    border-radius: 4px;
    background: #db0001;
    color: white;
    padding: 7px 20px;
    font-size: 12px;
    cursor: pointer;
}
.language-btn{
    display: inline-flex;
    align-items: center;
    background: transparent;
    border: 1px solid white;
    padding: 7px 10px;
}
.language-btn img{
    width: 10px;
    margin-left: 10px;
}
.header-content{
    position: absolute;
    top: 50%;
    left: 19%;
    text-align: center;
    font-size: 22px;
    cursor: default;
   
}
.header-content input{
    padding: 7px 120px;
    text-align: center;
    border: 0;
    border: transparent;
}
.header-content button{
    padding: 3px 0px;
    
   position: relative;
   right: 2px;
    background: #db0001;
    border: 0;
    outline: 0;
    color: white;
    cursor: pointer;
    
}
.side-arrow{
    position: relative;
    top: 5px;
    height: 20px;
    width: 20px;
}
.email-signup{
    display: flex;
    justify-content: space-between;
    justify-content: center;
    margin-top: 5px;
   
}
.header-content p{
    font-size: 14px;
}

.features{
    padding: 50px 12%;
    font-size: 22px;
}
.row{
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 0;
}
.text-col{
    flex-basis: 50%;
    margin-bottom: 20px;
}
.img-col{
    flex-basis: 50%;
    margin-bottom: 20px;
}
.img-col img{
    display: block;
    width: 90%;
    margin: auto;
}

